<html>
    <head>
        <title>Intro to Server Side Programming</title>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        <%= title %>
        <ul>
            <% for(var i=0; i < list.length; i++){ %>
                <li><%= list[i] %>
            <% } %>
        </ul>

    </body>
</html>